{{#if this.error}}
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-middle" style="min-height: 50vh">
        <div class="cell large-6 large-offset-3 text-center">
          <h2>Oops!</h2>
          <p>{{this.error}}</p>
        </div>
      </div>
    </div>
  </div>
{{else}}
 <div class="large-7 cell">
  {{#if this.dispositions.firstObject.publichearinglocation}}
    <fieldset class="medium-margin-bottom">
      <legend><strong>Was a Quorum Present at your hearing?</strong></legend>
      <p class="help-text">
        A quorum requires the presence of 20% of appointed board members, and not fewer than seven members.
      </p>
      {{#each this.dispositions as |disposition|}}
        {{#if disposition.dateofpublichearing}}
          <p class="text-small dark-gray">
            Hearing occurred
            on {{moment-format disposition.dateofpublichearing "MM/D/YYYY"}}
            at {{disposition.publichearinglocation}}
          </p>
        {{/if}}
        <input type="radio"
          name={{concat idx '-quorum'}}
          id={{concat idx '-quorum-yes'}}
          checked={{if disposition.wasaquorumpresent "checked"}}
          onClick={{action 'updateDispositionAttr' disposition 'wasaquorumpresent' true}}
        />
        <label
          for="{{concat idx '-quorum-yes'}}"
          {{action 'updateDispositionAttr' disposition 'wasaquorumpresent' true}}
        >
          Yes
        </label>
        <input type="radio"
          name={{concat idx '-quorum'}}
          id={{concat idx '-quorum-no'}}
          checked={{if (eq disposition.wasaquorumpresent false) "checked"}}
          onClick={{action 'updateDispositionAttr' disposition 'wasaquorumpresent' false}}
        />
        <label
          for="{{concat idx '-quorum-no'}}"
          {{action 'updateDispositionAttr' disposition 'wasaquorumpresent' false}}
        >
          No
        </label>
      {{/each}}
    </fieldset>
  {{/if}}
{{!-- 
  {{#if (gt this.dispositions.length 1)}}
    <fieldset class="medium-margin-bottom">
      <legend><strong>Would you like to submit a single recommendation for all actions?</strong></legend>
      <input
        type="radio"
        name="all-action-yes"
        id="all-action-yes"
        checked={{if this.submitOneRec "checked"}}
        onClick={{action "setProp" "submitOneRec" true}}
      />
      <label for="all-action-yes">
        Yes
      </label>
      <input
        type="radio"
        name="all-action-no"
        id="all-action-no"
        checked={{if (not this.submitOneRec) "checked"}}
        onClick={{action "setProp" "submitOneRec" false}}
      />
      <label for="all-action-no">
        No, I will submit a recommendation for each action
      </label>
    </fieldset>
  {{/if}}
  {{#if this.submitOneRec}}
    {{!-- One recommendation for all actions --}}
    {{!-- <RecommendationForm
      @actions={{this.actions}}
      @recOptions={{recommendationOptions}}
      @participantType={{this.participantType}}
      recommendation={{}}
    /> --}}
    {{!-- <fieldset class="medium-margin-bottom vote-fieldset">
      <legend><strong>Recommendation for all actions</strong></legend>
      {{#power-select
        searchEnabled=false
        options=this.recommendationOptions
        placeholder="select a recommendation"
        onchange=(action (mut this.allActionsRecommendation))
        as |recOption|
      }}
        {{recOption.label}}
      {{/power-select}}
    </fieldset>
  {{else}} --}}
    {{!-- Submit different rec for each action
  {{/if}} --}}
 </div>
{{outlet}}
{{/if}}
