<h1>Add a Recommendation for...</h1>
{{#project-recommendations
  project=this.project
  user=this.user
  as |recommendations|
}}
  {{!-- TODO: Display recommendation based on user role (participantType),
  which is based on milestone  --}}
  {{#with recommendations.list.firstObject as |firstRecommendation|}}
    <div class="project-summary-card callout">
      <div class="grid-x">
        <div class="cell large-12">
          <h3 class="tiny-margin-bottom">
            <h4>{{this.project.dcp_projectname}}</h4>
            <small class="dark-gray">{{this.project.ulurp_nonulurp}}</small>
          </h3>
          <h5 class="applicant">{{this.project.applicants}}</h5>
          <p class="no-margin">{{this.project.dcp_projectbrief}}</p>
        </div>
      </div>
    </div>
    {{#if (eq this.participantType "CB")}}
      <div class="project-summary-card callout">
        <h4>
          Was a Quorum Present at your hearing on {{this.project.hearing.date}} at {{this.project.hearing.location}}?
        </h4>
        <fieldset class="fieldset">
          <legend>Choose if a Quorum was present:</legend>
          {{input type="radio" name="quorum-yes" id="quorum-yes"
            onChange=(action 'mutateArray' 'boroughs' type)
          }}
          <label for="quorum-yes">Yes</label>
          <input type="radio" name="quorum-no" id="quorum-no" value="false"><label for="quorum-no">No</label>
        </fieldset>
      </div>
    {{/if}}
    <div class="project-summary-card callout">
      <h4>When &amp; where was your vote held?</h4>
      Date: {{input type="date" value=this.project.date}}
      Location: {{input value=this.project.location}}
    </div>
    <div class="project-summary-card callout">
      <h4>Do you want to submit one recommendation for all actions at once?</h4>
      <fieldset class="fieldset">
        <legend>Choose if you want to submit one recommendation for all actions at once:</legend>
        <input type="radio" name="all-action-yes" id="all-action-yes" value="true"><label for="all-action-yes">Yes</label>
        <input type="radio" name="all-action-no" id="all-action-no" value="false"><label for="all-action-no">No</label>
      </fieldset>
      {{#unless this.allActions}}
        <div class="grid-x">
          <div class="cell large-3">
            <ul class="menu vertical">
              Approved
              {{#each this.project.actions as |action|}}
                <li>
                  <a>
                    {{filter-checkbox
                      value=true
                      currentValues=(array action.selected)
                      classPrefix="borough"
                    }}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="cell large-3">
            <ul class="menu vertical">
              Approved with Modifications
              {{#each this.project.actions as |action|}}
                <li>
                  <a>
                    {{filter-checkbox
                      value=true
                      currentValues=(array action.selected)
                      classPrefix="borough"
                    }}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="cell large-3">
            <ul class="menu vertical">
              Disapprove
              {{#each this.project.actions as |action|}}
                <li>
                  <a>
                    {{filter-checkbox
                      value=true
                      currentValues=(array action.selected)
                      classPrefix="borough"
                    }}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="cell large-3">
            <ul class="menu vertical">
              Disapprove with Modifications
              {{#each this.project.actions as |action|}}
                <li>
                  <a>
                    {{filter-checkbox
                      value=true
                      currentValues=(array action.selected)
                      classPrefix="borough"
                    }}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
          {{!-- <div class="cell large-3">
            <ul class="menu vertical">
              Total
              {{#each this.project.actions as |action|}}
                <li>
                  5 votes
                </li>
              {{/each}}
            </ul>
          </div> --}}
        </div>
      {{/unless}}
    </div>
  {{/with}}
{{/project-recommendations}}

{{outlet}}